<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index-template}">

<head>

<title>DentalRenew - Gestion de clinicas dentales</title>

<th:block layout:fragment="optional_css">
	<link rel="stylesheet"
		th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css}">
	<link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css}">
</th:block>

</head>

<body>
	<!-- End of Topbar -->
	<div layout:fragment="content">
		<div class="card shadow mb-4 mt-5">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Alta cita</h6>
			</div>
			<div class="card-body">
				<form th:action="@{/cita/alta-cita}" th:object="${cita}"
						method="post">
					<h6 class="m-0 font-weight-bold text-primary">Datos cita</h6>
					<hr>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="cliente">Codigo cita</label> 
							<input th:field="*{CodCita}" type="text" class="form-control cod-mask"
							th:classappend="${#fields.hasErrors('codCita')}? 'is-invalid':''"
							aria-describedby="error" aria-invalid="true" data-inputmask="'mask': 'CT-9999' ">
							
							<span id="error" class="invalid-feedback" th:each="error : ${#fields.errors('codCita')}"
							th:text="${error}"> Validation error</span>	
						</div>
						<div class="form-group col-md-6">
							<label for="cliente">Cliente</label> 
						 	<select th:field="*{ClienteOptionId}" class="form-control">
    							<option th:each="cliente : ${clientes}" th:value="${cliente.id}" 
    							th:text="${cliente.nombre} + ' ' + ${cliente.apellidos} + ' / ' + ${cliente.dni}"/>
						    </select>
						</div>
						<div class="form-group col-md-6">
							<label for="fecha">Fecha</label> 
							<input th:field="*{Fecha}" type="text" 
							class="form-control datepicker"
							th:classappend="${#fields.hasErrors('fecha')}? 'is-invalid':''"
							aria-describedby="error" aria-invalid="true">
							
							<span id="error" class="invalid-feedback" th:each="error : ${#fields.errors('fecha')}"
							th:text="${error}"> Validation error</span>
						</div>
						<div class="form-group col-md-6">
						<label for="especialidad">Persona asignada</label> 				
						 	<select th:field="*{PersonaAsignadaOptionId}" class="form-control">
    							<option th:each="medico : ${medicos}" th:value="${medico.id}" 
    							th:text="${medico.nombre} + ' ' + ${medico.apellidos}"/>
						    </select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputCity">Diagnostico</label>
						 		<select th:field="*{DiagnosticoOptionId}" class="form-control">
    							<option th:each="diagnostico : ${diagnosticos}" th:value="${diagnostico.id}" th:text="${diagnostico.nombre}"/>
						    </select>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Alta</button>
				</form>
			</div>
		</div>
	</div>
</body>

<th:block layout:fragment="optional_js">
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.7/jquery.inputmask.min.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js}"></script>
	<script th:src="@{/js/cita/cita.js}"></script>
	<div th:if="${param.success}">

		<script>
			const notyf = new Notyf({
				duration : 2000,
				position : {
					x : 'center',
					y : 'top',
				}
			});

			notyf.success('La cita fue guardado correctamente en la BBDD');
		</script>
	</div>
</th:block>

</html>